* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock {
	width: 500px;
	height: 500px;

	border: 20px solid black;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	width: 40px;
	height: 40px;
	border: 8px solid black;
	border-radius: 50%;
	z-index: 1;
	background-color: white;
}

/* Hours ----------------------------------- */
.hours {
	position: absolute;
	width: 480px;
	height: 480px;

	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.hours > div {
	position: absolute;
	width: 50px;
	height: 100%;
	/* background-color: aqua; */
}

.hours > div > p {
	text-align: center;
	font-size: 3rem;
}

.hours > div#h1 {
	transform: rotate(30deg);
}

.hours > div#h2 {
	transform: rotate(calc(2 * 30deg));
}
.hours > div#h3 {
	transform: rotate(calc(3 * 30deg));
}
.hours > div#h4 {
	transform: rotate(calc(4 * 30deg));
}
.hours > div#h5 {
	transform: rotate(calc(5 * 30deg));
}
.hours > div#h6 {
	transform: rotate(calc(6 * 30deg));
}
.hours > div#h7 {
	transform: rotate(calc(7 * 30deg));
}
.hours > div#h8 {
	transform: rotate(calc(8 * 30deg));
}
.hours > div#h9 {
	transform: rotate(calc(9 * 30deg));
}
.hours > div#h10 {
	transform: rotate(calc(10 * 30deg));
}
.hours > div#h11 {
	transform: rotate(calc(11 * 30deg));
}

/* 

hours paragraph rotate 

*/
.hours > div#h1 > p {
	transform: rotate(calc(-1 * 30deg));
}

.hours > div#h2 > p {
	transform: rotate(calc(-2 * 30deg));
}

.hours > div#h3 > p {
	transform: rotate(calc(-3 * 30deg));
}

.hours > div#h4 > p {
	transform: rotate(calc(-4 * 30deg));
}

.hours > div#h5 > p {
	transform: rotate(calc(-5 * 30deg));
}

.hours > div#h6 > p {
	transform: rotate(calc(-6 * 30deg));
}

.hours > div#h7 > p {
	transform: rotate(calc(-7 * 30deg));
}

.hours > div#h8 > p {
	transform: rotate(calc(-8 * 30deg));
}

.hours > div#h9 > p {
	transform: rotate(calc(-9 * 30deg));
}

.hours > div#h10 > p {
	transform: rotate(calc(-10 * 30deg));
}

.hours > div#h11 > p {
	transform: rotate(calc(-11 * 30deg));
}

/* 

 HANDS

*/

.hands {
	position: absolute;
	/* background-color: coral; */
	width: 420px;
	height: 420px;

	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.hands > div {
	position: absolute;
	width: 10px;
}

.hands > div > div {
	height: 50%;
}

.hands > #second {
	height: 100%;
	animation: rotation-seconde 60s infinite steps(60);
	transform: rotate(var(--second));
}

.hands > #second > div {
	background-color: red;
}

.hands > #minute {
	height: 80%;
	animation: rotation-minute linear 3600s infinite;
	transform: rotate(var(--minute));
}

.hands > #minute > div {
	background-color: black;
}

.hands > #hour {
	height: 60%;
	animation: rotation-hour linear 43200s infinite;
	transform: rotate(var(--hour));
}

.hands > #hour > div {
	background-color: blue;
}

@keyframes rotation-seconde {
	to {
		transform: rotate(var(--secondDeg));
	}
}

@keyframes rotation-minute {
	to {
		transform: rotate(var(--minuteDeg));
	}
}

@keyframes rotation-hour {
	to {
		transform: rotate(var(--hourDeg));
	}
}

/* css variable to change hands rotate starting values */
:root {
	--second: 0deg;
	--secondDeg: calc(var(--second) + 360deg);

	--minute: 0deg;
	--minuteDeg: calc(var(--minute) + 360deg);

	--hour: 0deg;
	--hourDeg: calc(var(--hour) + 360deg);
}
